<!doctype html>
<html>
    <head>
       <title> Job Board </title>
       <link rel="stylesheet" href="{{ url_for('static',filename='css/bulma.min.ccs')}}">
       <link rel="stylesheet" href="{{ url_for('static',filename='css/app.ccs')}}">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    </head>
    <body>
       <div class="container top">
          <div class="content">
            {% block content %}
            {% end bock %}
          </div>
        </div>
    </body>
</html>
